<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            Hi raa......
        </h1>
        <h1> tina ra....</h1>
        <h1> veltuna raaa.....</h1>
        <h1> emayendhi raa .....????</h1>
        <h1> vasthava raaa nuv kuda .....????</h1>
        
        <a href="{% url 'sweety' %}"> <h1> first Response of sweety</h1></a>
        <a href="{% url 'sweety2' %}"><h2> Second Response of Sweety2</h2></a>
    
        



    </center>
    
</body>
</html>