<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> jagrathaga vellu ra......!</h1>
        <h1>  nenu ranu le......!!!!</h1>
        <h1> nuv velli thondarga  ra......</h1>
        <h1> Apudu vastavu.....????</h1>
        <h1> velli papalu.... tisukoni ra.....</h1>
        <a href="{% url 'raj' %}"> <h2> Response of raj</h2></a>
    </center>
        
    
    
</body>
</html>